<!-- Header -->
<div class="header">
    <div routerLink="/profile" routerLinkActive="active" class="logo">
      MarMina Family
    </div>
    <div *ngIf="isAuthenticated && user" class="user">
      <span routerLink="/profile" routerLinkActive="active">{{ user.firstName }}</span>
      <img [src]="user.photoUrl" alt="user-profile-photo">
    </div>
    <a *ngIf="!isAuthenticated" routerLink="/login" routerLinkActive="active" class="login">
      Login
    </a>
    <a *ngIf="isAuthenticated" routerLink="/logout" routerLinkActive="active" class="logout">
      <img src="/static/logout.svg" alt="">
    </a>
</div>

<!-- Sidebar -->
<!-- <div class="sidebar" *ngIf="enableSidebar">
  <ul>
    <li routerLink="/profile" routerLinkActive="active">Profile</li>
    <li>Item2</li>
    <li>Item3</li>
  </ul>
</div> -->
