<mf-main-layout [enableSidebar]="false"> </mf-main-layout>

<div class="login-form">
    <div class="social-login">
      <h2>Sign in</h2>
      <a class="google-btn" (click)="loginWithGoogle()">
        <img src="/static/google-logo.png" alt="google-logo">
        <span>Google</span>
      </a>
      <h3><b>OR</b></h3>
    </div>

    <form nz-form [formGroup]="validateForm" (ngSubmit)="loginWithPassword()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group>
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Username"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group>
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'primary'">
            Log in
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
